.wrapper {
  user-select: none;
  border: 1px solid #b3b8ca;
  border-radius: 4px;
  padding: 12px 16px;
  width: auto;
}

.content {
  border-top: 1px solid #e0e0ea;
}

.contentItem {
  padding: 8px 12px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 8px;
}

.contentItemTitle {
  font-weight: 500;
}

.contentItem + .contentItem {
  border-top: 1px solid #e0e0ea;
}

.children {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  color: #4367ce;
  cursor: pointer;
  font-weight: bold;
}
